body {
    background-color: #97a2a2;
    font-family: Verdana,Geneva,sans-serif; 
}

a {
  text-decoration: none;
  color: #B23333;
}

h1, h2, h3  {
  margin: 0;
  padding: 10px;
}

#container {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right:auto;
}

#header {
    background-color: #18453B;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
  padding: 10px;
}

#nav {
  width: 100%;
  float: none;
  align-content: center;
  background-color:  #d3d3d3;
  
}

#nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#nav li {
  display: inline-block;
  padding-right: 20px;
}


#nav .selected {
  font-weight: bold;
}

#main {
  width: 750px;
  float: right;

}

#student-group {

  margin: 10px;
  border: 20px;
  padding: 10px;
  background-color:  #d3d3d3;
  color: black;
  text-align: left;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #97a2a2;
  color: white;
  text-align: right;
}
.schedule-date {
  font-weight: bold;
  color: black;
  text-align: right;
}
.schedule-resources {
  font-weight: lighter;
  color: black;
  text-align: left;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 200px;
}

.schedule-containter {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: 200px;
}

#schedule-card {
  background-color: white;
  box-shadow: 10px 5px 5px gray;
  height: auto;
  padding: 10px;
  margin: 25px;
  border-radius: 5px;

}

.schedule-wrapper {
  width: 80%;
}

.background {
  background-color: white;
  margin-left: 25px;
  margin-right: 25px;
}

.header {
  background-color: #18453B;
}

.images {
  
}